<table width="100%" cellspacing="1" class="outer">
  <tr>
    <th><{$about_title}></th>
  </tr>
  <tr>
    <td class="odd" style="text-align:center;"><{$about_about}></td>
  </tr>
</table>
<br>
<table width="100%" cellspacing="0" class="outer">
  <tr>
    <td class="foot" style="font-weight:normal;" align="right"><span class="itemPoster"><{$about_copyright}></span></td>
  </tr>
</table>
<br>
