<!-- start module contents -->
<table border="0" cellpadding="5" align="center" width="100%">
  <tr>
    <td colspan="2" align="left"><img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<a href="<{$mod_url}>/index.php"><{$lang_forumindex}></a> &nbsp; - &nbsp; <a href="<{$mod_url}>/viewallforum.php"><{$lang_alltopicsindex}></a><br />&nbsp;&nbsp;&nbsp;<img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<{$lang_search}></td>
  </tr>
</table>

<form name="Search" action="<{$mod_url}>/search.php" method="post">
  <table class="outer" border="0" cellpadding="1" cellspacing="0" align="center" width="95%">
    <tr>
      <td>
        <table border="0" cellpadding="1" cellspacing="1" width="100%" class="head">
          <tr>
            <td class="head" width="50%" align="right"><b><{$lang_keywords}></b>&nbsp;</td>
            <td class="even" width="50%"><input type="text" name="term" /></td>
          </tr>
          <tr>
            <td class="head" width="50%">&nbsp;</td>
            <td class="even" width="50%"><input type="radio" name="addterms" value="any" checked="checked" /><{$lang_searchany}></td>
          </tr>
          <tr>
            <td class="head" width="50%">&nbsp;</td>
            <td class="even" width="50%"><input type="radio" name="addterms" value="all" /><{$lang_searchall}></td>
          </tr>
          <tr>
            <td class="head" width="50%" align="right"><b><{$lang_forumc}></b>&nbsp;</td>
            <td class="even" width="50%"><{$forum_selection_box}></td>
          </tr>
	  <tr>
            <td class="head" width="50%" align="right"><b><{$lang_author}></b>&nbsp;</td>
            <td class="even" width="50%"><input type="text" name="search_username" /></td>
          </tr>
          <tr>
            <td class="head" width="50%" align="right"><b><{$lang_sortby}></b>&nbsp;</td>
            <td class="even" width="50%"><input type="radio" name="sortby" value="p.post_time desc" checked="checked" /><{$lang_date}>&nbsp;&nbsp;<input type="radio" name="sortby" value="t.topic_title" /><{$lang_topic}>&nbsp;&nbsp;<input type="radio" name="sortby" value="f.forum_name" /><{$lang_forum}>&nbsp;&nbsp;<input type="radio" name="sortby" value="u.uname" /><{$lang_username}>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="head" width="50%" align="right"><b><{$lang_searchin}></b>&nbsp;</td>
            <td class="even" width="50%"><input type="radio" name="searchboth" value="title" /><{$lang_subject}>&nbsp;&nbsp;<input type="radio" name="searchboth" value="text" checked="checked" /><{$lang_body}>&nbsp;&nbsp;<input type="radio" name="searchboth" value="both" /><{$lang_subject}> & <{$lang_body}>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="head" width="50%" align="right">&nbsp;</td>
            <td class="even"><input type="submit" name="submit" value="<{$lang_search}>" /></td>
        </table>
      </td>
    </tr>
  </table>
</form>
<!-- end module contents -->
