<{if $file.imageheader != ""}>
	<br /><div align="center"><{$file.imageheader}></div><br />
<{/if}>

<h4><{$file.title}></h4>
<table border="0" cellpadding="1" cellspacing="0" width="80%" align="center">
  <tr>
    <td>
      <ul>
             <li><{$smarty.const._MD_WFD_VOTEONCE}></li>
             <li><{$smarty.const._MD_WFD_RATINGSCALE}></li>
             <li><{$smarty.const._MD_WFD_BEOBJECTIVE}></li>
             <li><{$smarty.const._MD_WFD_DONOTVOTE}></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="center">
      <form method="post" action="ratefile.php">
        <input type="hidden" name="lid" value="<{$file.id}>" />
        <input type="hidden" name="cid" value="<{$file.cid}>" />
             <select name="rating"><option>--</option><option>10</option><option>9</option><option>8</option><option>7</option><option>6</option><option>5</option><option>4</option><option>3</option><option>2</option><option>1</option></select>&nbsp;&nbsp;
        <input type="submit" name="submit" value="<{$smarty.const._MD_WFD_RATEIT}>" alt="<{$smarty.const._MD_WFD_RATEIT}>" /> <input type="button" value="<{$smarty.const._CANCEL}>" alt="<{$smarty.const._CANCEL}>" onclick="location='<{$xoops_url}>/modules/wfdownloads/singlefile.php?cid=<{$file.cid}>&amp;lid=<{$file.id}>'" />
      </form>
    </td>
  </tr>
</table></div>
