<table cellspacing="0">
<tr>
	<td id="mainmenu">
    <{foreach item=topic from=$block.topics}>
    	<a class="menuMain" href="<{$xoops_url}>/modules/news/index.php?storytopic=<{$topic.id}>"><{$topic.title}> <{$topic.news_count}></a>
	<{/foreach}>
    </td>
</tr>
</table>
