<h2><{$smarty.const._AM_NEWS_WHOS_WHO}></h2>
<br />
<br />
<h3><{$smarty.const._NW_NEWS_LIST_OF_AUTHORS}></h3>
<br />
<ul>
<{foreach item=who from=$whoswho}>
	<li><a href="<{$xoops_url}>/modules/news/newsbythisauthor.php?uid=<{$who.uid}>"><{$who.name}></a></li>
<{/foreach}>
</ul>